---
layout: default
---
<div class="hero">
    <div class="hero-bg"></div>
    <div class="hero-container">
        <div class="hero-tagline">
            <h1>A&nbsp;<span>new&nbsp;direction</span> for&nbsp;the&nbsp;UTSU</h1>
            <p>On March 26<sup>th</sup>, 27<sup>th</sup>, and 28<sup>th</sup>, vote Compass for an approachable, human students' union.</p>
        </div>
        <div class="hero-tiles">
            <a class="tile tile-video artsy-shadow" href="#video">
                <div class="video-container"><video src="/video.mp4" autoplay muted loop></video></div>
                <div class="video-button"><div class="play-icon"><i class="fas fa-play"></i></div>Watch the video</div>
            </a>
            <div class="small-tiles">
                <a class="tile tile-candidates artsy-shadow" href="#candidates"><div class="tile-text">Our team<i class="fas fa-chevron-right"></i></div></a>
                <a class="tile tile-platform artsy-shadow" href="#platform"><div class="tile-text">Read the platform<i class="fas fa-chevron-right"></i></div></a>
            </div>
        </div>
    </div>
</div>

<div class="platform section">
    <a name="platform"></a>
    <div class="container">
        <div class="section-header alt">
            <h3>Our plan</h3>
            <p>We're navigating towards:</p>
            <div class='platform-points'>
                <div class='point'>
                    <div class='icon'><i class="fas fa-hand-paper"></i></div>
                    <div class='title'>An approachable, human UTSU</div>
                </div>
                <div class='point'>
                    <div class='icon'><i class="fas fa-university"></i></div>
                    <div class='title'>A UTSU students can trust to (have their best interests in mind / do what’s best / ...)</div>
                </div>
                <div class='point'>
                    <div class='icon'><i class="fas fa-search"></i></div>
                    <div class='title'>A transparent, no-bullshit governance structure </div>
                </div>
                <div class='point'>
                    <div class='icon'><i class="fas fa-users"></i></div>
                    <div class='title'>A(n open-minded) UTSU open to a diversity of ideas</div>
                </div>
            </div>
            




            <p style="text-align: right;"><a href="#TODO" class="platform-btn">Read the full platform<i class="fas fa-chevron-right"></i></a></p>
        </div>
    </div>
</div>

<div class="candidates section">
    <a name="candidates"></a>
    <div class="container">
        <div class="section-header">
            <h3>Our team</h3>
            <div class="candidates-tabs">
                <a href="#executives" class="open">Executives</a>
                <a href="#directors">Directors</a>
            </div>
        </div>
    </div>
    <div class="container candidates-listing">
        <div class="candidates-executives">
            <div class="execs">
                {% for exec in site.data.executives %}
                    <a href="#{{ exec.id }}">
                        <div class="exec candidate artsy-shadow">
                            <div class="photo" style="background-image:url(/images/{{ exec.id }}.jpg);"></div>
                            <div class="name">{{ exec.name }}</div>
                            <div class="position">{{ exec.position }}</div>
                        </div>
                    </a>
                    {% if forloop.index == 4 %}
                        </div><div class="details-row">
                            {% for i in (0..3) %}
                                {% assign exec2 = site.data.executives[i] %}
                                {% include details.html candidate=exec2 %}
                            {% endfor %}
                        </div><div class="execs">
                    {% endif %}
                {% endfor %}
            </div>
            <div class="details-row">
                {% for i in (4..6) %}
                    {% assign exec2 = site.data.executives[i] %}
                    {% include details.html candidate=exec2 %}
                {% endfor %}
            </div>
        </div>
        <div class="candidates-directors" style="display: none;">
            {% for director in site.data.directors %}
                <a href="#{{ director.id }}">
                    <div class="director artsy-shadow">
                        <div class="photo"></div>
                        <div class="name">{{ director.name }}</div>
                        <div class="position">{{ director.position }}</div>
                    </div>
                </a>
                {% assign mod = forloop.index | modulo: 2 %}
                {% assign index = forloop.index | minus: 2 %}
                {% if mod == 0 %}
                    <div style="clear: both;"></div>
                    <div class="details-row">
                        {% for i in (0..1) %}
                            {% assign i2 = i | plus: index %}
                            {% assign candidate2 = site.data.directors[i2] %}
                            {% include details.html candidate=candidate2 %}
                        {% endfor %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>

<div class="ending section">
    <div class="container">
        <div class="section-header">
            <h3>Get involved</h3>
        </div>
        Commit to vote - like us on facebook etc.
        Sign up for a reminder to vote.
        Want to get involved? We're looking for volunteers
    </div>
</div>

<script type="text/javascript" src="/smoothscroll.min.js"></script>
<script type="text/javascript" src="/links.js"></script>