---
layout: default
---
<div class="hero">
    <div class="hero-tiles">
        <a class="tile tile-video artsy-shadow" href="#video">
            <div class="video-container"><video src="/video.mp4" autoplay muted loop></video></div>
            <div class="video-button"><div class="play-icon"><i class="fas fa-play"></i></div>Watch the video</div>
        </a>
        <div class="small-tiles">
            <a class="tile tile-candidates artsy-shadow" href="#candidates"><div class="tile-text">Meet the team<i class="fas fa-chevron-right"></i></div></a>
            <a class="tile tile-platform artsy-shadow" href="#platform"><div class="tile-text">Read the platform<i class="fas fa-chevron-right"></i></div></a>
        </div>
    </div>
    <div class="hero-tagline">
        <h1>A&nbsp;<span class='underline'>new&nbsp;direction</span> for&nbsp;the&nbsp;UTSU</h1>
        <p>On March 1<sup>st</sup>, 2<sup>nd</sup>, and 3<sup>rd</sup>, vote Compass for a students' union that works for you.</p>
    </div>
</div>

<div class="quote-container">
    <div class="container">
        <div class="quote">
            Compass is...
        </div>
        <div class="signature">-- Anne Boucher, candidate for President</div>
    </div>
</div>

<div class="candidates section">
    <div class="container">
        <div class="section-header">
            <h3>Our team</h3>
            <div class="candidates-tabs">
                <a href="#candidates-executives" class="open">Executives</a>
                <a href="#candidates-directors">Directors</a>
            </div>
        </div>
    </div>
    <div class="container candidates-listing">
        <div class="candidates-executives">
            <div>
                {% for exec in site.data.candidates.executives %}
                    <div class="exec artsy-shadow">
                        <div class="photo"></div>
                        <div class="name">{{ exec.name }}</div>
                        <div class="position">{{ exec.position }}</div>
                    </div>
                    {% if forloop.index == 3 %}
                        </div><div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="candidates-directors" style="display: none;">Directors</div>
    </div>
</div>

<div class="platform section">
    <div class="container">
        <div class="section-header">
            <h3>Our plan</h3>
            <div style="padding: 50px; text-align: center; color: #555555;">Platform coming soon</div>
        </div>
    </div>
</div>

<div class="ending section">
    <div class="container">
        <div class="section-header">
            <h3>Get involved</h3>
        </div>
        Commit to vote - like us on facebook etc.
        Sign up for a reminder to vote.
        Want to get involved? We're looking for volunteers
    </div>
</div>