@font-face {
    font-family: 'Futura PT';
    src: url('FuturaPT-Medium.woff2') format('woff2'),
        url('FuturaPT-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Renogare Soft';
    src: url('RenogareSoft-Regular.woff2') format('woff2'),
        url('RenogareSoft-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir';
    src: url('Avenir-Medium.woff2') format('woff2'),
        url('Avenir-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}


* {
    margin: 0;
    padding: 0;
}

p {
    margin-top: 15px;
}

body {
    background-color: white;
    font-family: 'Avenir';
    font-weight: 500;
    font-style: normal;
    font-size: 14pt;
    color: black;

    position: relative;
}

.container {
    width: 1000px;
    margin: 0 auto;
    box-sizing: border-box;
}

@media (max-width: 1100px) {
    .container {
        width: 800px;
    }
}

@media (max-width: 900px) {
    .container {
        width: auto;
    }
}

h1,h2,h3,h4 {
    font-family: 'Renogare Soft', sans-serif;
    font-weight: normal;
}
.artsy-shadow {
    box-shadow: 5px 5px rgba(0, 0, 0, 0.3);
}

header {
    top: 0;
    width: 100%;
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    padding: 30px 30px 30px 30px;
    align-items: center;
    position: absolute;
    z-index: 2;
}

.header-left {
    margin-right: auto;
    font-family: 'Renogare Soft', sans-serif;
    font-size: 18pt;
    text-transform: uppercase;
    font-weight: 700;
}

header .nav {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

header .nav a {
    margin-left: 30px;
    text-decoration: underline;
    color: black;
}

.hero {
    color: white;
    display: flex;
    flex-direction: column;

    box-sizing: border-box;

    position: relative;
    z-index: 1;

    height: 100vh;
    max-height: 70vw;
    min-height: 700px;

    background: linear-gradient(to right, #0e76bc, #0e76bc 50%, white 50%, white);
}

.hero-container {
    margin: 0 auto;
    width: 100%;
    max-width: 1300px;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.hero-bg {
    position: absolute;
    left: 0;
    right: 50%;
    top: 0;
    bottom: 0;
    
    background: url(/hero-2.png);
    background-size: cover;
    background-position: center;
    z-index: 1;
}

.hero-tagline {
    height: 100%;
    box-sizing: border-box;
    width: 50%;

    text-align: left;

    padding: 120px 60px 120px 0px;
    margin-bottom: auto;
    font-size: 17pt;

    display: flex;
    flex-direction: column;
    justify-content: center;

    position: relative;
    z-index: 2;
}

@media only screen and (max-width: 1330px) {
    .hero-tagline {
        padding-left: 30px;
    }
}

.hero-tiles {
    position: relative;
    flex: 1;
}

.tile {
    display: block;
    z-index: 3;
    transition: transform 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.tile-video {
    background-color: #0241a8;
}

.tile-video video {
    position: absolute;
    top: 0;
    height: 100%;
    width: auto;
}

.video-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.video-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: white;
    font-size: 13pt;
    z-index: 4;
}

.video-coming-soon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;

}

.tile-text {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10px 20px;
    font-size: 13pt;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

a:hover .tile-text {
    text-decoration: underline;
}

.tile-text i {
    font-size: 8pt;
    margin-left: 6px;
    position: relative;
    top: 0px;
    transition: margin-left 0.1s linear;
}

a:hover .tile-text i {
    margin-left: 12px;
}

.tile-candidates {
    background-color: #25aae1;
    background-image: url(/team.png);
    background-position: center;
    background-size: cover;
}

.tile-platform {
    background-color: #ac1927;
    background-image: url(/platform.png);
    background-position: center;
    background-size: cover;
}

/* tile positions, large desktop */
.tile-video {
    position: absolute;
    left: -30px;
    top: 50%;
    transform: translateY(-50%) translateY(-55px);
    width: 100%;
    height: 400px;
    z-index: 9;
}

.tile-video:hover {
    transform: translateY(-50%) translateY(-55px) translateY(7px);
}

.tile-candidates, .tile-platform {
    position: absolute;
    width: 240px;
    height: 170px;
}

.tile-platform {
    left: 0;
    top: 50%;
    transform: translateX(-50%) translateY(135px);
}

.tile-platform:hover {
    transform: translateX(-50%) translateY(135px) translateY(7px);
}

.tile-candidates {
    top: 50%;
    right: 60px;
    transform: translateY(135px);
}

.tile-candidates:hover {
    transform: translateY(135px) translateY(7px);
}


.hero-tagline h1 {
    font-size: 50pt;
}

/* bit smaller */
@media only screen and (max-width: 1260px) {
    .hero-tagline h1 {
        font-size: 30pt;
    }
}

.header-right {
    display: flex;
    align-items: center;
}

/* mobile */

@media only screen and (max-width: 860px) {
    .header-right {
        display: none;
    }

    .hero {
        height: auto;
        max-height: none;
        min-height: none;
    }

    .hero-bg {
        right: 0;
    }

    .hero-container {
        flex-direction: column;
    }

    .hero-tagline {
        width: auto;
        text-align: center;
        padding-right: 30px;
        padding-bottom: 30px;
    }

    .tile {
        position: relative;
    }

    .tile-video {
        top: 0;
        left: 0;
        transform: none;
    }

    .small-tiles {
        display: flex;
        flex-direction: row;
    }

    .small-tiles > .tile {
        top: 0;
        right: 0;
        left: 0;
        transform: none;
        flex: 1;
    }

    .tile:hover {
        transform: none;
    }
}


.video-button {
    text-align: center;
}

a:hover .play-icon {
    transform: scale(1.1);
}

.play-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;

    font-size: 35px;

    border: 3px solid white;
    border-radius: 40px;
    box-sizing: border-box;

    margin-bottom: 6px;
    margin-left: auto;
    margin-right: auto;
    position: relative;

    transition: transform 0.1s linear;
}

/* (shadow)
.play-icon::after {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    box-sizing: border-box;

    width: 80px;
    height: 80px;
    border-radius: 40px;
    border: 5px solid #80808080;
} */

.play-icon > i {
    margin-right: -5px;
}

.underline {
    display: inline-block;
    position: relative;
}

@keyframes underlineanim {
    from {width: 0%;}
    to {width: 100%;}
}

.underline::before {
    position: absolute;
    content: '';
    width: 100%;

    animation-name: underlineanim;
    animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    animation-duration: 1.5s;
    animation-delay: 1s;
    animation-fill-mode: backwards;

    height: 10px;
    bottom: 19%;
    left: 3px;
    z-index: -1;
    opacity: 1;
    background-color: #0241a8;
}

.underline::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 10px;
    bottom: 16%;
    left: 6px;
    z-index: -2;
    opacity: 0.5;
    background-color: rgba(0, 0, 0, 0.3);
}

.section {
    padding: 30px 0px;
    background-color: white;
}

.candidates-tabs {
    float: right;
    margin-top: 9px;
}

.candidates-tabs a {
    padding: 5px 20px;
    display: inline-block;
    text-decoration: none;
}

.candidates-tabs a.open {
    color: black;
    background-color: #eeeeee;
}

.candidates-listing {
    background-color: #eeeeee;
    margin-top: -12px;
    padding-top: 30px;

    position: relative;
}

.candidates-listing a {
    opacity: 1;
    transition: opacity 0.1s linear;
}

.candidates-listing.has-open-details a {
    opacity: 0.5;
}

.candidates-listing.has-open-details a.open {
    opacity: 1;
}

.candidates-executives > .execs {
    display: flex;
    flex-direction: row;
    padding-bottom: 30px;
    width: 100%;
}

.execs > a {
    flex: 1;
    text-decoration: none;
    color: black;

    display: flex;
}

.exec {
    margin: 0px 0px 0px 30px;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px 10px;

    cursor: pointer;

    background: url(/compass-badge.png) no-repeat, white;
    background-position: center 0px;
    background-size: 190px 190px;
}

.exec:hover {
    background-color: #fefefe;
}

.exec .photo {
    height: 150px;
    width: 150px;
    border-radius: 75px;
    background-color: #eeeeee;
    margin-bottom: 20px;

    background-size: cover;
    background-position: center;
} 

.exec .position {
    font-size: 12pt;
}

.exec:last-child {
    margin: 0px 30px 0px 30px;
}

.section-header h3 {
    font-size: 30pt;
    position: relative;
    display: inline-block;

    z-index: 6;
}

.section-header h3::before {
    position: absolute;
    content: '';
    width: 0%;
    height: 10px;
    bottom: 8px;
    left: 3px;
    z-index: -1;
    opacity: 1;
    background-color: #ef7f89;
}

.section-header.been-visible h3::before {
    animation-name: underlineanim;
    animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    animation-duration: 1.5s;
    animation-delay: 0.3s;
    animation-fill-mode: forwards;
}

.section-header.alt h3::before {
    background-color: #25aae1;
}

.section-header h3::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 10px;
    bottom: 4px;
    left: 6px;
    z-index: -2;
    opacity: 0.5;
    background-color: grey;
}

.section-header.alt h3::after {
    background-color: rgba(0, 0, 0, 0.3);
}


.quote-container {
}

.quote-container > div {
    font-size: 17pt;
    padding: 30px 0px;

    display: flex;
    flex-direction: column;
}

.quote-container .signature {
    align-self: flex-end;
}

footer {
    padding: 30px;
    background-color: #eeeeee;
    font-size: 10pt;
    text-transform: uppercase;
    color: #555555;
    letter-spacing: .05em;
}

.social {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);

    display: flex;
    flex-direction: column;
    align-items: flex-end;

    z-index: 10;

}

.social a {
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    font-size: 25px;

    transition: padding 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    box-shadow: 5px 5px rgba(0, 0, 0, 0.3);
}

.social a:hover {
    padding-right: 20px;
}

.social a.twitter {
    background-color: #00aced;
}

.social a.facebook {
    background-color: #3b5998;
}

.social a.snapchat {
    background-color: #EEEE00;
}

.social a.instagram {
    background-color: #cd486b;
}

.platform {
    background-color: #840814;
    color: white;
}

.platform-points {
    display: flex;
    flex-direction: row;
}

.platform-points .point {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 30px;
}

.platform-points .point .icon {
    width: 70px;
    height: 70px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.platform-points .point .icon i {
    font-size: 25pt;
}

.platform-btn {
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 3px;
    padding: 10px 15px;
    color: white;
}

.platform-btn i {
    position: relative;
    top: -1px;
    margin-left: 10px;
    font-size: 11pt;
}

.details {
    margin-top: -20px;
}

.details > div {
    padding: 0px 30px 30px 30px;
}

.details-inner > div {
    background-color: white;
    position: relative;
    z-index: 9;
}

.details-inner > div > div {
    padding: 10px 30px 30px 30px;
}

.countdown {
    display: inline-flex;
    flex-direction: row;
    margin-left: 5px;
}

.countdown > div {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 10px;
    font-size: 10pt;
}

.countdown .label {
    font-size: 8pt;
}

.details .bio {
    font-size: 10pt;
}

.details {
    display: none;
}

.details .artsy-shadow {
    overflow: hidden;
    transition: all 0.3s ease-out;
}

.details-open {
    display: block;
}

.candidates-directors {
    padding-right: 30px;
}

.candidates-directors .details-row {
    margin-right: -30px;
}

.directors-row {
    display: flex;
    flex-direction: row;
}

.directors-row > a {
    display: block;
    width: 50%;

    text-decoration: none;
    color: black;
}

.director {
    margin-bottom: 30px;
    margin-left: 30px;
    background-color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;

    position: relative;
    min-height: 100px;

    padding-left: 110px;
    padding-right: 10px;
}

.director .photo {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100px;
    height: 100px;
    background-color: #eeeeee;

    background-position: center;
    background-size: cover;
}

.director .position {
    font-size: 12pt;
}


@media (max-width: 700px) {
    .candidates-directors > a {
        width: auto;
        float: none;
        margin: 0px -30px;
    }

    .director {
        margin-bottom: 5px;
    }
}

/* Responsive details */
@media (max-width: 700px) {
    .details-open {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        overflow: scroll;

        z-index: 10;
    }

    .details-open > div {
        margin-top: 30px;
        margin-right: 0;
        padding-top: 30px;
    }
}

.candidate {
    transition: transform 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.candidate:hover, a.open .candidate {
    transform: translateY(10px);
}

.election-over {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.details h3 span {
    /* nothing */
}

.funfacts {
    padding-top: 10px;
}

.funfacts::after {
    content: '';
    clear: both;
    display: block;
}

.funfact {
    float: left;
    display: flex;
    flex-direction: column;
    background-color: #0241a8;
    color: white;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 5px 10px;
}

.funfact-title {
    font-size: 8pt;
    text-transform: uppercase;
    font-family: 'Renogare Soft';
}

.details h2 {
    font-size: 30pt;
}

.details p.bio {
    margin-bottom: 20px;
}

.details h2 span {
    font-size: 50%;
}

.details h4 {
    margin-top: 10px;
}

.candidate-platform div {
    display: inline-block;
    background-color: #eeeeee;
    margin-top: 10px;
    padding: 20px;
}
