<a target="_blank" href="https://twitter.com/uoftcompass" aria-label="Twitter" class="twitter"><i class="fab fa-twitter"></i></a>
<a target="_blank" href="https://facebook.com/uoftcompass" aria-label="Facebook" class="facebook"><i class="fab fa-facebook"></i></a>
<a target="_blank" href="https://instagram.com/uoftcompass" aria-label="Instagram" class="instagram"><i class="fab fa-instagram"></i></a>
<a target="_blank" href="https://www.snapchat.com/add/uoftcompass" aria-label="Snapchat" class="snapchat"><i class="fab fa-snapchat-ghost"></i></a>