<!DOCTYPE html>
<html>
    <head>
        <!--
   _____ ____  __  __ _____         _____ _____ 
  / ____/ __ \|  \/  |  __ \ /\    / ____/ ____|
 | |   | |  | | \  / | |__) /  \  | (___| (___  
 | |   | |  | | |\/| |  ___/ /\ \  \___ \\___ \ 
 | |___| |__| | |  | | |  / ____ \ ____) |___) |
  \_____\____/|_|  |_|_| /_/    \_\_____/_____/ 
        -->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:700,900" rel="stylesheet"> 
        <link rel="stylesheet" href="/fontawesome-all.min.css" />
        <link rel="stylesheet" href="/style.css" />
        <title>Compass (TODO)</title>
    </head>
    <body>
        <!-- Header -->
        <header>
            <div class="header-left">
                <img src="/logo-black-text.png" style="height: 40px;" />
            </div>
            <div class="header-right">
                <ul class="nav">
                    <li><a href="#candidates">Candidates</a></li>
                    <li><a href="#platform">Platform</a></li>
                </ul>
            </div>
        </header>

        <div class="content">
            {{content}}
        </div>

        <!-- Footer -->
        <footer>
            Header image credit https://commons.wikimedia.org/wiki/File:University_of_Toronto_May_2009.jpg
            Please direct media inquiries to <a href="">todoreplaceemail@gmail.com</a>
            Footer logo goes here
        </footer>
    </body>
</html>