<!DOCTYPE html>
<html>
    <head>
        <!--
   _____ ____  __  __ _____         _____ _____ 
  / ____/ __ \|  \/  |  __ \ /\    / ____/ ____|
 | |   | |  | | \  / | |__) /  \  | (___| (___  
 | |   | |  | | |\/| |  ___/ /\ \  \___ \\___ \ 
 | |___| |__| | |  | | |  / ____ \ ____) |___) |
  \_____\____/|_|  |_|_| /_/    \_\_____/_____/ 
        -->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:700,900" rel="stylesheet"> 
        <link rel="stylesheet" href="/fontawesome-all.min.css" />
        <link rel="stylesheet" href="/style.css" />
        <title>Compass | A new direction for the UTSU</title>
    </head>
    <body>
        <!-- Social media -->
        <div class="social">
            <a target="_blank" href="https://twitter.com/uoftcompass" aria-label="Twitter" class="twitter"><i class="fab fa-twitter"></i></a>
            <a target="_blank" href="https://facebook.com/uoftcompass" aria-label="Facebook" class="facebook"><i class="fab fa-facebook"></i></a>
            <a target="_blank" href="https://instagram.com/uoftcompass" aria-label="Instagram" class="instagram"><i class="fab fa-instagram"></i></a>
            <a target="_blank" href="https://www.snapchat.com/add/uoftcompass" aria-label="Snapchat" class="snapchat"><i class="fab fa-snapchat-ghost"></i></a>
        </div>

        <!-- Header -->
        <header>
            <div class="header-left">
                <img src="/logo-inverse.png" style="height: 50px;" />
            </div>
            <div class="header-right">
                <div>Voting <span id="countdown-name"></span> in <span id="days"></span> <span id="days-label">days</span> </div><div class="countdown">
                    <div><div class='number' id="hours">0</div><div class='label' id="hours-label">hours</div></div>
                    <div><div class='number' id="minutes">0</div><div class='label' id="minutes-label">minutes</div></div>
                    <div><div class='number' id="seconds">0</div><div class='label' id="seconds-label">seconds</div></div>
                </div>
            </div>
        </header>

        <div class="content">
            {{content}}
        </div>

        <!-- Footer -->
        <footer>
            <div class="container">
                <img src="/logo.png" style="height: 40px; filter:grayscale(1);" />
                <p>Please direct media inquiries to <a href="mailto:uoftcompass2018@gmail.com">uoftcompass2018@gmail.com</a></p>
            </div>
        </footer>
        <script type="text/javascript" src="/countdown.js"></script>
    </body>
</html>